<div class="bg-gradient-to-br from-gray-900 via-purple-900 to-black min-h-screen text-white track-modal-wrapper">
    <div class="container mx-auto">
        <!-- Main Content -->
        <div class="grid grid-cols-2 gap-16 items-center relative h-full">
            <!-- Left Side - Song Info -->
            <div class="flex flex-col justify-start h-[80vh]">
                <div class="text-base text-gray-400 mb-6 tracking-widest">{{ track?.artists?.at(0)?.name }} // {{ track?.album?.name }}</div>
                <h1 class="text-5xl font-bold mb-16 leading-tight tracking-wide wrap-normal w-3/4">{{ track?.name }}</h1>

                <!-- Lyrics Section -->
<!--                <div class="space-y-4">-->
<!--                    <div class="text-sm text-gray-500 tracking-wider mb-4">&#123; LYRICS &#125;</div>-->
<!--                    <p class="text-gray-400 leading-relaxed">-->
<!--                        Me and my girlies, we gon' party 'til it's early<br>-->
<!--                        Got me feeling otherworldly tonight-->
<!--                    </p>-->
<!--                    <p class="text-white leading-relaxed">-->
<!--                        Caught in some traffic, but the radio is<br>-->
<!--                        blasting Drop a red light and we'll sing it<br>-->
<!--                        goodbye-->
<!--                    </p>-->
<!--                    <p class="text-gray-400 leading-relaxed">-->
<!--                        Me and my girlies, we gon' party 'til it's early<br>-->
<!--                        Got me feeling otherworldly tonight-->
<!--                    </p>-->
<!--                </div>-->
            </div>

            <!-- Center - Vinyl Player -->
            <div class="flex flex-col items-center justify-center fixed inset-0 pointer-events-none">
                <app-spotify-player
                    [track]="track"
                    [nextTrackUri]="nextTracks.at(0)?.uri!"
                    [previousTrackUri]="previousTracks.at(0)?.uri!"
                    (nextTrackRequested)="onNextTrackRequested()"
                    (previousTrackRequested)="onPreviousTrackRequested()"
                ></app-spotify-player>
            </div>

            <!-- Right side -->
            <div class="flex flex-col items-end justify-between h-full">
                <!-- Close button -->
                <svg (click)="closeModal()"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7 text-gray-400 cursor-pointer">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
            </div>
        </div>
    </div>
</div>
