@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.spinning {
    animation: spin 3s linear infinite;
}

input[type=range][orient=vertical] {
    writing-mode: vertical-lr;
    direction: rtl;
    width: 8px;
    vertical-align: bottom;
}
