@if(isReady && playerState?.current_track) {
    <div class="pointer-events-auto">
        <!-- Vinyl Record -->
        <div class="relative w-96 h-96">
            <!-- Outer ring -->
            <div class="absolute cursor-pointer inset-0 rounded-full bg-gradient-to-br from-gray-700 to-gray-950 shadow-2xl spinning" [class.spinning]="!playerState?.paused" (click)="togglePlay()">
                <!-- Vinyl grooves -->
                <div class="absolute inset-4 rounded-full border-8 border-black/30"></div>
                <div class="absolute inset-8 rounded-full border-8 border-black/20"></div>
                <div class="absolute inset-12 rounded-full border-8 border-black/10"></div>

                <!-- Center label -->
                <div class="absolute inset-0 flex items-center justify-center">
                    <div class="w-32 h-32 rounded-full bg-gradient-to-br from-red-400 to-pink-600 overflow-hidden shadow-xl">
                        <img src="{{ track?.album?.images?.at(0)?.url }}"
                             alt="Album art"
                             class="w-full h-full object-cover opacity-90">
                    </div>
                </div>
            </div>

            <!-- Tone arm -->
            <div class="absolute -top-4 left-1/2 w-1 h-64 bg-gray-400 origin-top transform -translate-x-1/2 -rotate-12 shadow-lg"></div>
            <div class="absolute top-0 left-1/2 w-3 h-3 bg-gray-500 rounded-full transform -translate-x-1/2"></div>
        </div>

        <div class="flex justify-between">
            <!-- Like icon -->
            <div>
                <svg viewBox="0 0 24 24" width="20" height="20" class="text-gray-400 ml-1">
                    <path fill="currentColor" d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02z"/>
                </svg>
            </div>

            <!-- Controls -->
            <div class="flex items-center justify-center mt-4">
                <!-- Go to previous track -->
                <button class=" cursor-pointer hover:scale-110 duration-75">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-7">
                        <path d="M9.195 18.44c1.25.714 2.805-.189 2.805-1.629v-2.34l6.945 3.968c1.25.715 2.805-.188 2.805-1.628V8.69c0-1.44-1.555-2.343-2.805-1.628L12 11.029v-2.34c0-1.44-1.555-2.343-2.805-1.628l-7.108 4.061c-1.26.72-1.26 2.536 0 3.256l7.108 4.061Z" />
                    </svg>
                </button>

                <!-- Play/Pause button -->
                <button (click)="togglePlay()" class="mx-4 p-4  cursor-pointer hover:scale-110 duration-75">
                    @if(playerState?.paused) {
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-7">
                            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm14.024-.983a1.125 1.125 0 0 1 0 1.966l-5.603 3.113A1.125 1.125 0 0 1 9 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113Z" clip-rule="evenodd" />
                        </svg>
                    } @else {
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-7">
                            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12ZM9 8.25a.75.75 0 0 0-.75.75v6c0 .414.336.75.75.75h.75a.75.75 0 0 0 .75-.75V9a.75.75 0 0 0-.75-.75H9Zm5.25 0a.75.75 0 0 0-.75.75v6c0 .414.336.75.75.75H15a.75.75 0 0 0 .75-.75V9a.75.75 0 0 0-.75-.75h-.75Z" clip-rule="evenodd" />
                        </svg>
                    }
                </button>
                <!-- Go to next track -->
                <button class=" cursor-pointer hover:scale-110 duration-75" (click)="nextTrack()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-7">
                        <path d="M5.055 7.06C3.805 6.347 2.25 7.25 2.25 8.69v8.122c0 1.44 1.555 2.343 2.805 1.628L12 14.471v2.34c0 1.44 1.555 2.343 2.805 1.628l7.108-4.061c1.26-.72 1.26-2.536 0-3.256l-7.108-4.061C13.555 6.346 12 7.249 12 8.689v2.34L5.055 7.061Z" />
                    </svg>
                </button>
            </div>
            <!-- Volume Control -->
            <div class="w-fit flex flex-col items-center justify-center gap-y-2 mt-2 relative">
                @if(showVolumeSlider()) {
                    <input
                        type="range"
                        orient="vertical"
                        class="h-20 accent-emerald-600 bg-gray-800 rounded-lg appearance-none absolute right-2.5 bottom-14"
                        [value]="volume"
                        min="0"
                        max="100"
                        (input)="onVolumeChange($event)"
                    />
                }

                @if (volume !== 0) {
                    <!-- Volume icon -->
                    <svg
                        (click)="toggleVolumeSlider()"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        class="size-4 mr-1.5 cursor-pointer hover:scale-110"
                    >
                        <path d="M13.5 4.06c0-1.336-1.616-2.005-2.56-1.06l-4.5 4.5H4.508c-1.141 0-2.318.664-2.66 1.905A9.76 9.76 0 0 0 1.5 12c0 .898.121 1.768.35 2.595.341 1.24 1.518 1.905 2.659 1.905h1.93l4.5 4.5c.945.945 2.561.276 2.561-1.06V4.06ZM18.584 5.106a.75.75 0 0 1 1.06 0c3.808 3.807 3.808 9.98 0 13.788a.75.75 0 0 1-1.06-1.06 8.25 8.25 0 0 0 0-11.668.75.75 0 0 1 0-1.06Z" />
                        <path d="M15.932 7.757a.75.75 0 0 1 1.061 0 6 6 0 0 1 0 8.486.75.75 0 0 1-1.06-1.061 4.5 4.5 0 0 0 0-6.364.75.75 0 0 1 0-1.06Z" />
                    </svg>

                }
                @else {
                    <!-- Mute icon -->
                    <svg
                        (click)="toggleVolumeSlider()"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        class="size-4 mr-1.5 cursor-pointer hover:scale-110"
                >
                        <path d="M13.5 4.06c0-1.336-1.616-2.005-2.56-1.06l-4.5 4.5H4.508c-1.141 0-2.318.664-2.66 1.905A9.76 9.76 0 0 0 1.5 12c0 .898.121 1.768.35 2.595.341 1.24 1.518 1.905 2.659 1.905h1.93l4.5 4.5c.945.945 2.561.276 2.561-1.06V4.06ZM17.78 9.22a.75.75 0 1 0-1.06 1.06L18.44 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06l1.72-1.72 1.72 1.72a.75.75 0 1 0 1.06-1.06L20.56 12l1.72-1.72a.75.75 0 1 0-1.06-1.06l-1.72 1.72-1.72-1.72Z" />
                    </svg>
                }
            </div>
        </div>

        <!-- Progress Bar -->
        <div class="flex items-center gap-x-3 w-full px-4 mt-2">
            <span class="text-xs text-gray-400 w-10 text-right">{{ formatTime(playerState?.position ?? 0) }}</span>
            <input
                type="range"
                class="w-full h-2 accent-white bg-gray-800 rounded-lg appearance-none"
                [value]="playerState?.position"
                [max]="playerState?.duration"
                (input)="onSeek($event)"
            />
            <span class="text-xs text-gray-400 w-10 text-left">{{ formatTime(playerState?.duration ?? 0) }}</span>
        </div>
    </div>
}
