<!-- Loading indicator -->
@if (isLoading()) {
    <div class="w-full mx-auto min-h-auto text-white absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 flex items-center justify-center">
        <div class="flex flex-col items-center space-y-4">
            <div class="animate-spin rounded-full h-16 w-16 border-t-2 border-b-2 border-emerald-500"></div>
            <p class="text-gray-400 text-lg">Loading...</p>
        </div>
    </div>
}

<!-- Tracks swiper -->
@if (!isLoading()) {
    <div class="w-full mx-auto min-h-auto absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <swiper-container
            #swiperContainer
            loop="true"
            navigation="false"
            slides-per-view="7"
            space-between="20"
        >
            @for (track of tracks(); track track.id) {
                <swiper-slide>
                    <div class="flex flex-col items-center justify-between space-y-1 overflow-hidden">
                        <div class="relative ">
                            <img
                                (click)="openTrackModal(track)"
                                src="{{ track.album.images.at(0)?.url }}"
                                class="h-64 rounded-lg border border-emerald-950 shadow shadow-black cursor-pointer object-cover"
                            />
                            <div class="absolute inset-0 rounded-lg bg-gray-700 mix-blend-overlay pointer-events-none"></div>
                        </div>
                        <div class="w-64">
                            <div>
                                <h2 class="text-white text-base w-full text-center tracking-wide uppercase font-medium whitespace-nowrap overflow-hidden text-ellipsis">{{ track.name }}</h2>
                            </div>
                            <h2 class="text-sm text-center tracking-wide text-gray-300 font-medium">{{ track.artists.at(0)?.name }}</h2>
                        </div>
                    </div>
                </swiper-slide>
            } @empty {
                <p>No tracks found</p>
            }
        </swiper-container>
    </div>
}

@if (isTrackModalOpen()) {
    <app-track-modal
        [track]="selectedTrack()"
        [nextTracks]="[nextTrack()]"
        [previousTracks]="[previousTrack()]"
        (modalClosed)="closeTrackModal()"
        (nextTrackRequested)="onNextTrackRequested()"
        (previousTrackRequested)="onPreviousTrackRequested()"
    ></app-track-modal>
}

<app-mini-player
    [isModalOpen]="isTrackModalOpen()"
    [nextTrackUri]="nextTrack()?.uri || null"
    (trackClicked)="onMiniPlayerClicked()"
></app-mini-player>
