<nav class="w-full bg-transparent p-4 py-8">
    <div class="container mx-auto flex justify-between items-center">
        <a routerLink="/home" class="text-white text-xl font-bold uppercase tracking-wider">Rhythmeo</a>

        <!-- Links to favorites, playlists -->
        <div class="flex items-center">
            <a
              routerLink="/favorites"
              routerLinkActive="text-xl text-white"
              [routerLinkActiveOptions]="{ exact: true }"
              class="text-gray-300 hover:text-white mx-4 uppercase tracking-wide font-semibold text-sm"
            >
              Favorites
            </a>
            <a
              routerLink="/playlists"
              routerLinkActive="text-xl text-white"
              [routerLinkActiveOptions]="{ exact: true }"
              class="text-gray-300 hover:text-white mx-4 uppercase tracking-wide font-semibold text-sm"
            >
                Playlists
            </a>
            
            <!-- Song Search -->
            <app-spotify-search (searchRequested)="onSearchRequested($event)"></app-spotify-search>
        </div>

        <a routerLink="/profile" class="text-gray-300 hover:text-white mx-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
            </svg>
        </a>
    </div>
</nav>
